/* ResearchTab.css */

/* Center the research tab */
.research-tab {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 2px solid #008000;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .toggle-label {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #333;
    font-weight: bold;
  }
  
  .toggle-checkbox {
    display: none;
  }
  
  .toggle-checkbox + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }
  
  .toggle-checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 14px;
    border-radius: 14px;
    background-color: #ccc;
    transition: background-color 0.3s;
  }
  
  .toggle-checkbox:checked + label:before {
    background-color: #008000;
  }
  
  .toggle-checkbox + label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #fff;
    transition: left 0.3s;
  }
  
  .toggle-checkbox:checked + label:after {
    left: 14px;
  }
  
  button {
    background-color: #008000; /* Green search button */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  